<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Real Time Products</title>
</head>

<body>
    {{#if user}}
        <h1>Bienvenido, {{user.username}}!</h1>
        <p>Rol: {{role}}</p>
        <form action="/logout" method="post">
            <button type="submit">Cerrar sesión</button>
        </form>
    {{else}}
        <h2>Bienvenido a la Lista de Productos</h2>
    {{/if}}

    <h1>Lista de Productos</h1>
    <ul id="realTimeProductList">
        {{#each products}}
            <li>{{this.title}} - {{this.description}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (updatedProducts) => {
            const productList = document.getElementById('realTimeProductList');
            productList.innerHTML = '';
            updatedProducts.forEach(product => {
                const li = document.createElement('li');
                li.textContent = `${product.title} - ${product.description} - ${product.price}`;
                productList.appendChild(li);
            });
        });
    </script>
</body>

</html>
